<div class="container item-container"
     [appCreatedDate]="getDate()"
     [ngClass]="{'top-rated': courseItem.topRated}">

  <div class="header row">
    <div class="title col-md-8">
      <h3>{{courseItem.title | uppercase}}</h3>
    </div>
    <div class="time col-md-4">
      <span class="duration">{{courseItem.duration | timeFormat}}</span>
      <span class="creation-date">{{getDate() | date}}</span>
    </div>
  </div>

  <div class="description row">
    <div class="col-md-9">
      <p>{{courseItem.description}}</p>
    </div>
    <div class="col-md-3">
      <button type="button" class="edit btn btn-primary">Edit</button>
      <button type="button" (click)="remove()" class="remove btn btn-primary">Remove</button>
    </div>
  </div>

</div>

