.item-container {
  margint: 10px;
  paddin: 20px;
  background-color: white;
  border-radius: 10px;
}

.btn-primary {
  margin: 10px;
}

.header{
  padding: 10px;
}

.description {
  padding: 10px;
}
