.item-container {
  margint: 10px;
  paddin: 20px;
  background-color: white;
  border-radius: 10px;
}

.creation-date, duration{
  padding-left: 10px;
  padding-right: 5px;
}

.top-rated{
  background-color:  #ffffb3;
}

.btn-primary {
  margin: 10px;
}

.header{
  padding: 10px;
}

.description {
  padding: 10px;
}

.top-rated-star{
  left: 2%;
}
