<div class="container item-container"
     [appCreatedDate]="courseItem.date"
     [ngClass]="{'top-rated': courseItem.isTopRated}">

  <div class="header row">
    <div class="title col-md-8">
      <h3>{{courseItem.name | uppercase}}
        <span class="top-rated-star" *ngIf="courseItem.isTopRated">⭐</span>
      </h3>
    </div>
    <div class="time col-md-4">
      <span class="duration">{{courseItem.length.toString() | timeFormat}}</span>
      <span class="creation-date">{{itemDate | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <div class="description row">
    <div class="col-md-9">
      <p>{{courseItem.description}}</p>
    </div>
    <div class="col-md-3">
      <button type="button" (click)="openEditModal()" class="edit btn btn-primary">Edit</button>
      <button type="button" (click)="openDeleteModal()" class="remove btn btn-primary">Remove</button>
    </div>
  </div>

</div>

