.course-container {
  background-color: #f2f3f7;
  padding: 10px 60px 50px 60px;
}

li {
  list-style-type: none;
  padding: 10px;
}

.search-bar {
  margin-left: 50px;
  display:inline-block;
  margin-right: 20px;
}

.add-button-bar {
  display:inline-block;
}
