<app-breadcrumbs></app-breadcrumbs>
<div class="course-container" >
  <div>
    <app-search class="search-bar" #inputChild></app-search>
    <app-add class="add-button-bar"></app-add>
  </div>
  <div class="course-items-container" *ngIf="courses$ | async; let courses;">
    <li *ngFor="let item of courses | sortBy: 'creationDate'">
      <app-course-item  [courseItem]="item" (deleteCourseItem)="delete($event)"></app-course-item>
    </li>
    <li class="no-data" *ngIf="!courses || courses.length === 0">
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </li>
    <li>
      <div *ngIf="showLoadMore">
        <a [routerLink]="" (click)="loadMore(courses.length)">LOAD MORE...</a>
      </div>
    </li>
  </div>
</div>
